
<footer>
    <div id = "footer_main">
        <h style = "float: left; color:white; font-size: 3vmin; margin-left: 10px; margin-top: 20px; text-align: center; ">Digital Archaeological Atlas of the Classical East (DAACE)</h>
        <div style = "color: #F4CECE;" id = "footer_bottom">
            <p style = "float: left; font-size: 1.5vh; margin-left: 10px; text-align: center;">Created by Ali Kesserwani (University of Alabama at Birmingham)</p>
        </div>

    </div>
</footer>
