@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,500&family=Roboto&display=swap');

html {
  height: 100%;
}
body{
  position: relative;
  margin: 0 auto;
  padding-bottom: 20%;
}
*{
  font-family: Roboto;
}

a:link { 
  text-decoration:none; 
}
.wrapper{
  display: flex;
  margin: 30px;
  justify-content: center;
  
 }     

 .list_1{
  width: 50%;
  height: 80vh;
  background:#EAEAEA;
  margin:10px;
}
.list_2{
  width: 50%;
  height: 80vh;
  background:#EAEAEA;
  margin:10px;

}

/*Ipad Mini - 768 */
@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    /*Or column-reverse if map*/
  }
  .list_1,
  .list_2 {
    width: auto;
  }
}



#nav {
  overflow: hidden;
  height: 100%;
  width: 100%;
  background: #DD7475;
  /*Figma Generated Box shadow*/
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
}

#title{
  color: #FFF;
  font-size: 4vmin;

}

.icon{
  width: 60px;
  height: 80px;

  /*Center Icon in Button*/
  display: flex;
  justify-content: center;
  align-items: center;

}

.icon:hover{
  background-color: #B56768;
  cursor: pointer; 
}

.icon span{
  color: #FFF;
  font-size: 32px;
}  



#login_button{
  margin: 0;
  float:right; 
}

footer{
  position:absolute; 
  bottom: 0;
  left:0;
  width: 100%;
  height: 120px;
  z-index: 100;

}
#footer_main{
  height: 70%;
  width: 100%;
  background: #DD7475;

}

#footer_bottom{
  position:absolute;
  bottom:0;
  height: 40%;
  width: 100%;
  background: #B56768;
  box-shadow: 0px -1px 4px 0px rgba(0, 0, 0, 0.25);
}


/*List Elements for side_list*/

.side_list{
  height: 100%;
  width: 100%;
}

.list_element{
  position: relative;
  width: 80%;
  height: 15%;
  margin:auto;
  top: 20px;
  background: #D9D9D9;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.25);
  padding: 8px;
  margin-bottom:10px;
  }

  .list_element:hover{
    background: rgb(179, 179, 179);
  }

.text_list_container{
  margin: 10px;
  line-height: 70%;
}

.list_header{
  color: #484848;
  font-size: 20px;
}

.list_para{
  color:#CF7172;
  font-size: 16px;
  
}

.circle_button{
  background-color: #DD7475;
  filter: drop-shadow(0px 4px 7px rgba(0, 0, 0, 0.25));
  height:80px;
  width: 80px;
  border-radius: 100%;

  /*Center Icon in Button*/
  display: flex;
  justify-content: center;
  align-items: center;

}

.circle_button:hover{
  background-color: #B56768;
  cursor: pointer;
}

#add_button{
  position: sticky;
  margin-left: 20px;
  bottom: 5%; 
}

.circle_button a:link{
  text-decoration: none !important;
}

#status_box{
  background: #B8B8B8;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.25);  
  width: 100%;
  height:100px;

  top:0;
  z-index: 3;
  position:sticky;
  display: flex;
  align-items: center;
}

.custom_form{
  border-radius: 41px;
  border: 2px solid #B9B9B9;
  background: #EAEAEA;
  height: 50%;
  width: 70%;
  margin:10px;

  padding: 5px 10px;
  box-sizing: border-box;
}

#site_info_box{
  border-radius: 41px;
  border: 2px solid #B9B9B9;
  background: #EAEAEA;
  height: 50%;
  width: 70%;
  margin:10px;

  padding: 5px 10px;
  box-sizing: border-box;

}

.button{
  background: #DD7475;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
  width: 30%;
  height: 15%;

  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-size: 4vmin;
}

.button:hover{
  background-color: #B56768;
  cursor: pointer;
}

#edit_button{
  float: right;
  bottom: 10%; 
  margin: 20px;
}
#map_button{
  float: left;
  bottom: 5%; 
  margin: 20px;

}



/*Stuff for the model in view.html.erb*/
.modal {
  display: none; 
  position: fixed;
  z-index: 1; 
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
  }

  .modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height:500px;

  }

  .close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  }

  .close:hover,
  .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  }